 # it. E_fermi(eV)  Charge Distance  Partial Chg. D.  Convergence
   0      -3.240          0.000         0.0000     0
   1      -7.730         1.0137         6.1589     0
   2     -12.350         0.1770         5.0794     0
   3     -11.944         0.5977         0.1556     0
   4      -6.041         0.5949         7.5604     0
